@model ProjectProgress.Models.Teacher

@{
    ViewBag.Title = "First";
}
<br />
<br />

<h2>Teacher View</h2>
<br />
<br />
<div class="jumbotron">
    <div class="row">
        <div class="col-md-5 text-center">
            <h3>View Details</h3>
            <hr class="my-4">
            <p><a class="btn btn-primary" href="~/Students/Index">Details &raquo;</a></p>
        </div>
        <div class="col-md-5 text-center">
            <h3>Marks Allotment</h3>
            <hr class="my-4">
            <p><a class="btn btn-primary" href="~/Marks/Create">Marks Entry &raquo;</a></p>
        </div>

    </div>
</div>

